body {
  background-image: url("./images/Cubes-Flight-Movement-Wallpaper.jpg");
  height:max-content;
  /* Center and scale the image nicely */
 
  background-repeat: no-repeat;
  
}

div {
  align-content: center;
  text-align: center;
  color: rgb(238, 255, 0);
  font-weight: bold;
  font-size: 23px;
}
button {
  align-self: center;
  align-content: center;
  position: center;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}